<img src="https://picsum.photos/80/80/" alt="Amazing">
<hr>
<p><strong>City#1</strong></p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos nobis accusantium et nihil, animi repellat voluptas. Molestias obcaecati quidem aut amet laborum, suscipit sed iusto maiores similique, cumque, iste assumenda.</p>
