<div class="container py-5">
  <h1>Bookmarks#index</h1>
  <p>Find me in app/views/bookmarks/index.html.erb</p>
  <p>current_user id: <%= current_user.id %></p>
  <hr>
  <ul class="list-unstyled">
    <% @bookmarks.each do |bookmark| %>
      <li id="bookmark-id-<%= bookmark.id %>">
        <%= link_to raw('<i class="fas fa-times"></i>'), "#{bookmarks_path}?id=#{bookmark.id}&itinerary=#{bookmark.itinerary_id}", method: :delete, remote: true, class: 'text-decoration-none text-secondary' %>
        &emsp;
        <%= link_to "#{bookmark.itinerary.title}, #{bookmark.itinerary.experience} experience in #{bookmark.itinerary.country.capitalize}", itinerary_path(bookmark.itinerary) %>
        </li>
    <% end %>
  </ul>
</div>
