<div class="banner-itinerary-show" style="object-fit: cover;max-height: 100%; max-width: 100%; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/pierreja/image/upload/v1575517050/TRASEU/Guests-admiring-Machu-Picchu-in-Peru_sujaju.jpg)">
  <div class="banner-text">
      <h1 class="banner_title">PERU</h1>
  </div>
</div>
