<div class="banner-itinerary-show" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1564551099958-799746bfe1aa?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);">
  <div class="banner-text">
      <h1 class="banner_title ml-5">Your trip to Peru</h1>
      <a class="btn btn-ghost" href="#">Save your trip</a>
  </div>

</div>
