<div class="banner-city-show" style="object-fit: cover;max-height: 100%; max-width: 100%; background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%=@city.image%>)">
  <div class="banner-text">
      <h1 class="banner_title"><%= @city.name %></h1>
  </div>
</div>
