<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(http://sophiealexandre.eu/images/van);">
  <div class="banner-text">
      <h1 class="banner_title">Craft your perfect journey</h1>
      <a class="button" href="#">Build your adventure</a>
  </div>

</div>
