<footer class="footer mt-auto py-3 bg-dark">
  <div class="container">
    <div class="row text-white-50 border-bottom border-secondary py-3">
      <div class="col-4">
        <span class="h6">Traseu</span>
        <ul class="list-unstyled">
          <li><a href="#" class="text-muted">News</a></li>
          <li><a href="#" class="text-muted">Policies</a></li>
          <li><a href="#" class="text-muted">Help</a></li>
        </ul>
      </div>
      <div class="col-4">
        <span class="h6">Discover</span>
        <ul class="list-unstyled">
          <li><a href="#" class="text-muted">Experiences</a></li>
          <li><a href="#" class="text-muted">Itineraries</a></li>
          <li><a href="#" class="text-muted">Community</a></li>
        </ul> </div>
      <div class="col-4">
        <div class="h6">
          <a href="#" class="text-muted mr-2"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="text-muted mr-2"><i class="fab fa-twitter"></i></a>
          <a href="#" class="text-muted mr-2"><i class="fas fa-globe-americas"></i></i></a>
        </div>
        <ul class="list-unstyled">
          <li><a href="#" class="text-muted">Terms</a></li>
          <li><a href="#" class="text-muted">Privacy</a></li>
          <li><a href="#" class="text-muted">Site Map</a></li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-end pt-3">
      <span class="text-secondary">Made with <i class="fas fa-heart text-danger"></i> by <i class="far fa-compass"></i> traseu</span>
    </div>
  </div>
</footer>
