<div class="card main-card">
  <div class="card-body p-4">
    <div class="d-flex justify-content-between">
      <h5 class="card-title">Sex on the beach</h5>
      <div>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam sagittis accumsan ut posuere commodo. Enim mattis eget vestibulum bibendum ut ipsum at. Velit facilisis integer pulvinar faucibus et magnis ipsum, mattis. Mi neque porttitor volutpat ac luctus a augue.</p>
    <div class="d-flex justify-content-start h-25 mb-2"><span></span><p class="input"> 13 days</p></div>
    <div class="d-flex justify-content-start h-25"><span></span><p class="input">$4000</p></div>
    <div align="right"><button class="button">Build your adventure</button></div>
  </div>
</div>
