<div class="thumb-slider sticky-carousel" id="slider">
  <div id="myCarousel" class="carousel slide shadow">
      <!-- main slider carousel items -->
    <div class="carousel-inner">
      <div class="active carousel-item" data-slide-number="0">
        <img src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="thumb-inner img-fluid">
      </div>
      <div class="carousel-item" data-slide-number="1">
        <img src="https://images.unsplash.com/photo-1529411081224-84ac0d0bf6ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="thumb-inner img-fluid">
      </div>
      <div class="carousel-item" data-slide-number="2">
        <img src="https://images.unsplash.com/photo-1530610476181-d83430b64dcd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="thumb-inner img-fluid">
      </div>
    </div>
      <!-- main slider carousel nav controls -->

    <div class="d-flex justify-content-between">
      <ul class="carousel-indicators list-inline">
        <li class="list-inline-item active">
          <a id="carousel-selector-0" class="selected" data-slide-to="0" data-target="#myCarousel">
            <img src="https://images.unsplash.com/photo-1493770348161-369560ae357d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class=" thumb img-fluid">
          </a>
        </li>
        <li class="list-inline-item">
          <a id="carousel-selector-1" data-slide-to="1" data-target="#myCarousel">
            <img src="https://images.unsplash.com/photo-1529411081224-84ac0d0bf6ab?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" class="thumb img-fluid">
          </a>
        </li>
        <li class="list-inline-item">
          <a id="carousel-selector-2" data-slide-to="2" data-target="#myCarousel">
            <img src="https://images.unsplash.com/photo-1530610476181-d83430b64dcd?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80" class="thumb img-fluid">
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
