<div class="inliner">

</div>
<div class="inlined">
  <div class="progress-meter">
    <div class="track">
      <span class="progress"></span>
    </div>
    <ol class="progress-points" data-current="4">
      <li class="progress-point">
        <span class="label"><%= @search.experience %></span>
      </li>
      <li class="progress-point">
        <span class="label"><%= @search.country %></span>
      </li>
      <li class="progress-point">
        <span class="label">$<%= @search.budget %></span>
      </li>
      <li class="progress-point">
        <span class="label"><%= @search.days %> days</span>
      </li>
    </ol>
  </div>
</div>
