  <div class="country-banner d-flex align-items-end justify-content-center" style="margin-top: -60px;background: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://res.cloudinary.com/pierreja/image/upload/v1575223194/TRASEU/Traseu%20-%20Arequipa/BANNER%20-%20Arequipa2.jpg)">
    <h1 class="country-name">PERU</h1>
  </div>

<div class="container">
  <div class="row">
    <div class="col-6">
      <!-- Card#1 -->
      <div class="card my-3">
        <!-- Cities -->
        <div class="w-100">
          <div class="px-3 d-flex justify-content-between align-items-center">
            <span class="lead">Cuzco</span>
            <div class="custom-control custom-switch" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
              <input type="checkbox" class="custom-control-input" id="customSwitches">
              <label class="custom-control-label" for="customSwitches"></label>
            </div>
          </div>
          <div class="collapse" id="collapseExample">
            <div class="p-3">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio eos sed ex vero, impedit ad placeat commodi illo, quae iure laboriosam minus recusandae voluptates facilis, earum soluta minima voluptas nobis?</p>
              <table>
                <tr>
                  <td class="text-center"><i class="fas fa-utensils pro-dark-blue"></i></td>
                  <td class="pl-3">text</td>
                </tr>
                <tr>
                  <td class="text-center"><i class="fas fa-bed pro-dark-blue"></i></td>
                  <td class="pl-3">text</td>
                </tr>
                <tr>
                  <td class="text-center"><i class="fas fa-binoculars pro-dark-blue"></i></td>
                  <td class="pl-3">text</td>
                </tr>
              </table>
              <div class="text-right" style="margin-top: -24px;"><a href="#" class="text-muted">See more</a></div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Card#1 -->
    </div>
    <div class="col-6">
      <img src="https://github.com/PierreJaouen/traseu/blob/controllers-next/public/map.png?raw=true" alt="" width="100%">
    </div>
  </div>
</div>




