<div class ="container py-5">
  <div class="row justify-content-center py-5 bg-white text-dark">
    <h1> Your trip</h1>
  </div>

 <div class="row justify-content-center py-5 bg-white text-dark">
    <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col-sm text-center " style="width:19%">
            <div class="card-category-trip" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1450562624248-869a3ec195f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)"> Day</div>
        </th>

        <th scope="col"  style="width:19%">
            <div class="card-category-trip" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1450562624248-869a3ec195f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)"> City</div>
        </th>

        <th scope="col"  style="width:19%">
            <div class="card-category-trip" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1450562624248-869a3ec195f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)"> Activity</div>
        </th>

        <th scope="col"  style="width:19%">
            <div class="card-category-trip" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1450562624248-869a3ec195f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)"> Eat</div>
        </th>

        <th scope="col"  style="width:19%">
            <div class="card-category-trip" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1450562624248-869a3ec195f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)"> Sleep</div>
        </th>

      </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Cuzco</td>
          <td>Pisco Cuzco Tour</td>
          <td>Hanz Craft Beer</td>
          <td>Wild Rover Hostel</td>
        </tr>

        <tr>
          <th scope="row">2</th>
          <td>Cuzco</td>
          <td>Salkenta Trail</td>
          <td>Indigo Bar Restaurant</td>
          <td>Wild Rover Hostel</td>
        </tr>

        <tr>
          <th scope="row">3</th>
          <td>Cuzco</td>
          <td>Discovery of the Inca Valley</td>
          <td>Republica del Pisco</td>
          <td>Wild Rover Hostel</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Lima</td>
          <td>Bicycle tour – Miraflores</td>
          <td>Nuevo Mundo Bar</td>
          <td>Loki hostel</td>
        </tr>

        <tr>
          <th scope="row">5</th>
          <td>Lima</td>
          <td>Surf day trip</td>
          <td>Estadio Restaurant</td>
          <td>Loki Hostel</td>
        </tr>

        <tr>
          <th scope="row">6</th>
          <td>Lima</td>
          <td>Pub crawl - miraflores</td>
          <td>La basilica restaurant</td>
          <td>Loki Hostel</td>
        </tr>

        <tr>
          <th scope="row">7</th>
          <td>Arequipa</td>
          <td>One day trekking colca</td>
          <td>Alma bar restaurant</td>
          <td>Mb Hostel Arequipa</td>
        </tr>

        <tr>
          <th scope="row">8</th>
          <td>Arequipa</td>
          <td>Qochamama party</td>
          <td>Hatumpa</td>
          <td>Mb Hostel Arequipa</td>
        </tr>

        <tr>
          <th scope="row">9</th>
          <td>Arequipa</td>
          <td>Peruvian dance at casona</td>
          <td>El tio dario</td>
          <td>Mb hostel Arequipa</td>
        </tr>

        <tr>
          <th scope="row">10</th>
          <td>Puno</td>
          <td>Fishing in Titicaca</td>
          <td>Inca bar</td>
          <td>Sol plaza hotel</td>
        </tr>

        <tr>
          <th scope="row">11</th>
          <td>Puno</td>
          <td>Boat tour Titicaca</td>
          <td>La table del inca</td>
          <td>Sol plaza hotel</td>
        </tr>

        <tr>
          <th scope="row">12</th>
          <td>Puno</td>
          <td>Visit of the isla de la Luna</td>
          <td>Mojsa restaurant</td>
          <td>Sol plaza hotel</td>
        </tr>
      </tbody>
    </table>
    <div class="button">Print Calendar <i class ="fas fa-print fa-2x align"></i></div>
  </div>
</div>












