<div class ="container py-2">
  <div class="row justify-content-center py-5 bg-white text-dark">
    <h1>My next adventure in Peru</h1>
  </div>

 <div class="row justify-content-center text-dark">
    <table class="table table-hover bg-white font-weight-light">
    <thead>
      <tr>
        <th scope="col-sm text-center " style="width:19%">
            <div class="card-category-planning" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/pierreja/image/upload/v1575560463/TRASEU/Sophie%20user%20-%20pages/day.jpg)"> Day</div>
        </th>

        <th scope="col"  style="width:19%">
            <div class="card-category-planning" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/pierreja/image/upload/v1575560463/TRASEU/Sophie%20user%20-%20pages/city.jpg)"> City</div>
        </th>

        <th scope="col"  style="width:19%">
            <div class="card-category-planning" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/pierreja/image/upload/v1575560574/TRASEU/Sophie%20user%20-%20pages/Activity.jpg)"> Activity</div>
        </th>

        <th scope="col"  style="width:19%">
            <div class="card-category-planning" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/pierreja/image/upload/v1575560490/TRASEU/Sophie%20user%20-%20pages/eat.jpg)"> Eat</div>
        </th>

        <th scope="col"  style="width:19%">
            <div class="card-category-planning" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/pierreja/image/upload/v1575560607/TRASEU/Sophie%20user%20-%20pages/sleep.jpg)"> Sleep</div>
        </th>

      </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row" class="text-center">1</th>
          <td>Cuzco</td>
          <td>Pisco Cuzco Tour</td>
          <td>Hanz Craft Beer</td>
          <td>Wild Rover Hostel</td>
        </tr>

        <tr>
          <th scope="row" class="text-center">2</th>
          <td>Cuzco</td>
          <td>Salkenta Trail</td>
          <td>Indigo Bar Restaurant</td>
          <td>Wild Rover Hostel</td>
        </tr>

        <tr>
          <th scope="row" class="text-center">3</th>
          <td>Cuzco</td>
          <td>Discovery of the Inca Valley</td>
          <td>Republica del Pisco</td>
          <td>Wild Rover Hostel</td>
        </tr>

        <tr>
          <th scope="row" class="text-center">4</th>
          <td>Cuzco</td>
          <td>1 Day Trip Atv</td>
          <td>Indigo Bar Restaurant</td>
          <td>Wild Rover Hostel</td>
        </tr>

        <tr>
          <th scope="row" class="text-center">5</th>
          <td>Lima</td>
          <td>Bicycle tour – Miraflores</td>
          <td>Nuevo Mundo Bar</td>
          <td>Loki hostel</td>
        </tr>

        <tr>
          <th scope="row" class="text-center">6</th>
          <td>Lima</td>
          <td>Surf Day Trip</td>
          <td>Estadio Restaurant</td>
          <td>Loki Hostel</td>
        </tr>

        <tr>
          <th scope="row" class="text-center">7</th>
          <td>Lima</td>
          <td>Pub crawl - miraflores</td>
          <td>La basilica restaurant</td>
          <td>Loki Hostel</td>
        </tr>

        <tr>
          <th scope="row" class="text-center">8</th>
          <td>Lima</td>
          <td>Peruvian folklore!</td>
          <td>Estadio Restaurant</td>
          <td>Loki Hostel</td>
        </tr>

        <tr>
          <th scope="row" class="text-center">9</th>
          <td>Puno</td>
          <td>Fishing in Titicaca</td>
          <td>Inca bar</td>
          <td>Sol plaza hotel</td>
        </tr>

        <tr>
          <th scope="row" class="text-center">10</th>
          <td>Puno</td>
          <td>Boat tour Titicaca</td>
          <td>La table del inca</td>
          <td>Sol plaza hotel</td>
        </tr>

        <tr>
          <th scope="row" class="text-center">11</th>
          <td>Puno</td>
          <td>Visit of the isla de la Luna</td>
          <td>Mojsa restaurant</td>
          <td>Sol plaza hotel</td>
        </tr>

        <tr>
          <th scope="row" class="text-center">12</th>
          <td>Puno</td>
          <td>Jirón Lima Tour</td>
          <td>Los Uros</td>
          <td>Sol plaza hotel</td>
        </tr>


        <tr>
          <th scope="row" class="text-center">13</th>
          <td>Arequipa</td>
          <td>One day trekking colca</td>
          <td>Alma bar restaurant</td>
          <td>Mb Hostel Arequipa</td>
        </tr>

        <tr>
          <th scope="row" class="text-center">14</th>
          <td>Arequipa</td>
          <td>Qochamama party</td>
          <td>Hatumpa</td>
          <td>Mb Hostel Arequipa</td>
        </tr>

        <tr>
          <th scope="row" class="text-center">15</th>
          <td>Arequipa</td>
          <td>Peruvian dance at casona</td>
          <td>El tio dario</td>
          <td>Mb hostel Arequipa</td>
        </tr>

      </tbody>
    </table>
    <a href="javascript:window.print()" class="my-5" style="text-decoration: none;"><div class="button d-print-none d-flex justify-content-between align-items-center">Print Calendar &nbsp;<i class ="fas fa-print fa-2x align"></i></div></a>
  </div>
</div>












