<div class ="container py-5">
  <div class="row justify-content-center py-5 bg-white text-dark">
    <h1> Your trip</h1>
  </div>

  <div class="row bg-white text-dark- pb-3">
    <div class="col-sm text-center">
    <div class="card-category-trip" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1450562624248-869a3ec195f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)"> Day</div>
    </div>

    <div class="col-sm text-center">
    <div class="card-category-trip" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1450562624248-869a3ec195f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)"> City</div>
    </div>


    <div class="col-sm text-center">
    <div class="card-category-trip" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1450562624248-869a3ec195f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)"> Activity</div>
    </div>

    <div class="col-sm text-center">
    <div class="card-category-trip" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1450562624248-869a3ec195f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)"> Eat</div>
    </div>

    <div class="col-sm text-center">
    <div class="card-category-trip" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.unsplash.com/photo-1450562624248-869a3ec195f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80)"> Sleep</div>
    </div>

  </div>

<div class="row bg-white text-dark">
  <div class="col-sm text-center">
    <p>1</p>
    <p>2</p>
    <p>3</p>
    <p>4</p>
    <p>5</p>
    <p>6</p>
    <p>7</p>
    <p>8</p>
    <p>9</p>
    <p>10</p>
    <p>11</p>
    <p>12</p>
  </div>

  <div class="col-sm text-center">
      <p>Cuzco</p>
      <p>Cuzco</p>
      <p>Cuzco</p>
      <p>Lima</p>
      <p>Lima</p>
      <p>Lima</p>
      <p>Arequipa</p>
      <p>Arequipa</p>
      <p>Arequipa</p>
      <p>Puno</p>
      <p>Puno</p>
      <p>Puno</p>
  </div>



  <div class="col-sm text-center">
    <p>Pisco cuzco tour</p>
    <p>Salkenta trail</p>
    <p>Discovery of the inca valley</p>
    <p>bicycle tour – miraflores</p>
    <p>Surf day trip</p>
    <p>Pub crawl - miraflores</p>
    <p>One day trekking colca </p>
    <p>Qochamama party </p>
    <p>Peruvian dance at casona </p>
    <p>Fishing in Titicaca</p>
    <p>Boat tour Titicaca</p>
    <p>Visit of the isla de la Luna</p>
  </div>

  <div class="col-sm text-center">
    <p>Hanz craft beer</p>
    <p>Indigo bar restaurant</p>
    <p>Republica del pisco</p>
    <p>Nuevo mundo bar</p>
    <p>Estadio restaurant</p>
    <p>La basilica restaurant</p>
    <p>Alma bar restaurant </p>
    <p>Hatumpa </p>
    <p>El tio dario </p>
    <p>Inca bar</p>
    <p>La table del inca</p>
    <p>Mojsa restaurant</p>
  </div>

  <div class="col-sm text-center">
    <p>Wild Rover Hostel</p>
    <p>Wild Rover Hostel</p>
    <p>Wild Rover Hostel</p>
    <p>Loki hostel</p>
    <p>Loki hostel</p>
    <p>Loki hostel</p>
    <p>Mb hostel arequipa </p>
    <p>Mb hostel arequipa </p>
    <p>Mb hostel arequipa </p>
    <p>Sol plaza hotel</p>
    <p>Sol plaza hotel</p>
    <p>Sol plaza hotel</p>
  </div>
</div>












