.country-banner {
  height: 168px;

  .country-name {
    color: white;
  }
}

.city-card {
  display: inline-block;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
  position: relative;
  transition: all .2s ease-in-out;
  max-width: 300px;
  margin-bottom: 10px;

  .no-margin {
    margin-bottom: 0;
  }
}

.icons-list {
  margin-bottom: 0;
}

.city-card p {
  font-size: 0.8rem;
}

.city-card a{
  color: $pastel_grey;
}

.pro-dark-blue {
  color: $pro_dark-blue;
}


.city-card h3 {
  font-size: 1.1rem;
}

.card-price{
  position: absolute;
  font-weight: lighter;
  top: 20px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 3px 11px;
  /* border-radius: 0 3px 3px 0; */
}

.card-description{
  font-size: 14px;
  font-weight: lighter;
}

.card-title {
  margin-bottom: 0;
  font-weight: 900;
}

.card-address {
    color:#605F5E;
    margin-bottom: 12px;
    font-style: italic;

}
.city-card:hover {
  /*box-shadow: 0 5px 22px 0 rgba(0,0,0,.25);*/
  box-shadow: 0 6px 6px rgba(0,0,0,0.1);
  margin-bottom: 10px;
}

.image {
  max-height: 200px;
  overflow: hidden;
  transition: all .2s ease-in-out;
  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
}

.image:hover,
.card:hover .image {
  height: 200px;
  opacity: 1;
}

.text {
  background: #FFF;
  padding: 20px;
  min-height: 120px;
  max-height: 200px;
}

.text p {
  margin-bottom: 0px;
}

.fabbutton {
  width: 47px;
  height: 47px;
  border-radius: 50%;
  position: absolute;
  margin-top: -43px;
  right: 20px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
  color: #fff;
  font-size: 40px;
  font-weight: 100;
  line-height: 46px;
  text-align: center;
  background: #FFCB21;
  -webkit-transition: -webkit-transform .2s ease-in-out;
  transition: transform .2s ease-in-out;
}

.fabbutton:hover {
  background: #3F3D56;
  cursor: pointer;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.fabbutton.active {
  background: #3F3D56;
  cursor: pointer;
  -ms-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}
